@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", system-ui;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.form-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 40px;
  max-width: 660px;
  margin: 40px auto;
  border-radius: 8px;
}

.form-container input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

.form-container textarea {
  height: 120px;
  resize: none;
}

.form-container input:focus,
textarea:focus {
  border-color: #0071bd;
  outline: none;
}

.form-container input[type="submit"] {
  padding: 10px;
  background-color: #0071bd;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.form-container input[type="submit"]:hover {
  background-color: #005a9e;
}

.box-shadow {
  box-shadow: 0px 0px 8px 2px #64646415;
}

.course-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1280px;
  width: 90%;
  margin: 20px auto;
}

.course-box {
  border-radius: 10px;
  padding: 28px;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px 2px #64646415;
}


.course-box:hover {
  box-shadow: 0px 0px 12px 4px #6464642d;
}

.content-box {
  border: 1;
  flex-grow: 1;
}

.action-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.action-box button {
  padding: 6px 10px;
  border-radius: 6px;
  background-color: #0071bd;
  color: white;
  border: none;
  width: 100%;
}

.img-box {
  position: relative;
}

.img-box img {
  width: 100%;
}

.course-box h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
}



.badge {
  margin-top: 8px;
  padding: 4px 6px;
  background-color: #005a9e;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: fit-content;
  border-radius: 6px;
}